<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://103.228.151.73:3538/{R:1}" />
                </rule>
                <rule name="ReverseProxyInboundRule2" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://103.228.151.73:3535/{R:1}" />
                </rule>
                <rule name="ReverseProxyInboundRule3" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://103.228.151.73:3535/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>